@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Employee, Admin")]
@model WebsiteDV.Pages.Administration.ActivityAdministrationModel
@{
}
<head>
    <meta charset="UTF-8">
    <title>Aktivitetsadministration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/activities.css" />
</head>

<section id="activityadmin-section">
    <div class="activityadmin-header">
        <a class="activityadmin-create-btn" href="/Administration/CreateActivity">+ Opret Aktivitet</a>
    </div>

    <div class="activityadmin-container">
        <h1 class="activityadmin-title">Dyreværnets Aktiviteter</h1>
        <div id="activityadmin-list">
            @foreach (var activity in Model.Activities)
            {
                <div class="activityadmin-card">
                    <div class="activityadmin-card-body">
                        <p class="activityadmin-card-title">@activity.ActivityTitle</p>
                        <p class="activityadmin-card-meta">@activity.Date.ToString("dd-MM-yyyy") kl. @activity.StartHour - @activity.EndHour</p>
                        <div class="activityadmin-card-text">@Html.Raw(activity.Text)</div>

                        <form method="get" action="/Administration/EditActivity" class="activityadmin-edit-form" style=" display:inline;">
                            <input type="hidden" name="ActivityID" value="@activity.ActivityID" />
                            <button class="activityadmin-edit-btn" type="submit">Edit</button>
                        </form>
                        <form method="post" asp-page-handler="Delete" class="activityadmin-delete-form">
                            <input type="hidden" asp-for="ToDelete" value="@activity.ActivityID" />
                            <button class="activityadmin-delete-btn" type="submit" onclick="return confirm('Er du sikker på denne aktivitet skal slettes?');">Slet aktivitet</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
