
@page
@model WebsiteDV.Pages.Userpages.ActivitiesModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body class="text-center">
    <h1>Aktiviteter</h1>
    <div class="row row-cols-1 row-cols-lg-2">
        @foreach(LibraryDV.Models.Activity activity in Model.Activities)
        {
            <div class="col">
                <div class="card m-1">
                    <h3 class="card-title">@activity.ActivityTitle</h3>
                    <i class="card-header">@activity.Date kl. @activity.StartHour:00 til @activity.EndHour:00</i>
                    <p class="card-text">@activity.Text</p>
                </div>
            </div>
        }
    </div>
</body>